@model InvoiceManagement.Web.App.Models.Resident.CreateResidentViewModel
@{
    ViewData["Title"] = "Resident Page - Create";
}

<div class="container">
<h3>Kullanıcı Ekle</h3>
<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="UserId" class="form-label">Kullanıcı</label>
        <div class="input-group mb-3">
            <select asp-for="UserId" asp-items="@ViewData["Persons"] as IEnumerable<SelectListItem>" class="form-control" aria-describedby="personHelp">
                <option disabled selected></option>
            </select>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">+</a>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="HouseId" class="form-label">Daire Bilgisi</label>
        <div class="input-group mb-3">
            <select asp-for="HouseId" asp-items="@ViewData["Houses"] as IEnumerable<SelectListItem>" class="form-control" aria-describedby="houseHelp">
                <option disabled selected></option>
            </select>
        </div>
        <div id="houseHelp" class="form-text">Aradığınız Daire Bilgisi yok ise eklemek için <a asp-controller="House" asp-action="Create">tıklayınız..</a></div>
    </div>
    <div class="mb-3">
        <label asp-for="CarPlate" class="form-label">Araç Plakası</label>
        <input asp-for="CarPlate" class="form-control" id="carPlate" aria-describedby="carPlateHelp">
        <div id="carPlateHelp" class="form-text">Araç plakası giriniz.</div>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="isHirer">Kiracı mı?</label>
        <input asp-for="IsHirer" class="form-check-input" id="isHirer" type="checkbox" aria-describedby="isHirerHelp">
        <div id="isHirerHelp" class="form-text">Ev Sahibi/Kiracı durumunu giriniz.</div>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="isOwner">Ev sahibi mi?</label>
        <input asp-for="IsOwner" class="form-check-input" id="isOwner" type="checkbox" aria-describedby="isOwnerHelp">
        <div id="isOwnerHelp" class="form-text">Ev Sahibi/Kiracı durumunu giriniz.</div>
    </div>

    <input type="submit" value="Oluştur" class="btn btn-primary">
</form>
<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
</div>