@{
    ViewData["Title"] = "Home Page";
}

<html>
   
<div class="text-body">
    <div class= "vertical-center" style="text-align:center" >
     <h5>Fatura yönetim sistemine hoşgeldiniz.</h5>
     </div>
</div>

</html>