@using InvoiceManagement.Web.App.Models.FlatType

@model IEnumerable<GetFlatTypesViewModel>
@{
    ViewData["Title"] = "Flat Type Page";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Ev Tipi Listesi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="FlatType" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Yeni Oluştur
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Any())
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Oda Sayısı</th>
                    <th scope="col">Salon Sayısı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td width="30%">@item.RoomCount</td>
                        <td width="30%">@item.LivingRoomCount</td>
                        <td class="text-center">
                            <a asp-controller="FlatType" asp-action="Delete" asp-route-Id=@item.Id class="btn btn-danger">
                                Sil
                            </a>
                            <a asp-controller="FlatType" asp-action="Edit" asp-route-Id=@item.Id class="btn btn-primary">
                                Düzenle
                            </a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-center">Gösterilecek veri bulunamadı.</h5>
    }

</div>